@use "variables";

%text {
    width: 60%;
    justify-self: center;
    padding: 1%;
    margin-bottom: 0;
    margin-top: 3%;
}

#bubble-section {

    #letter {

        transform: rotate(5deg);
    }
}

#menu {
    display: grid;
    width: 15%;
    justify-self: left;
    color: variables.$head-light;
    font-weight: bold;
    font-size: 120%;
    padding-left: 1%;
    padding-right: 1%;
    margin-left: 4%;
    border: none;
    background-color: variables.$primary-light;

    @media (prefers-color-scheme: dark) {
        color: variables.$head-dark;
        background-color: variables.$primary-dark;
    }

    @media only screen and (max-width: 800px) {
        width: 24%;
        font-size: 100%;
        padding: 0.5%;
    }
}

#button {
    display: grid;
    width: 25%;
    padding: 1%;
    justify-self: center;
    font-weight: bold;
    font-size: 100%;
    box-shadow: 2px 2px 7px rgb(94, 90, 90);
    background-color: variables.$primary-light;

    @media only screen and (max-width: 900px) {
        width: 35%;
        margin: 2%;
    }

    @media only screen and (max-width: 500px) {
        width: 40%;
        font-size: 95%;
    }
}

#button:hover {
    background-color: rgb(250, 169, 196);
    transition: background-color 0.8s ease;
}

#chart {
    margin-bottom: 5%;
}

#chartTwo {
    justify-self: center;
}

#search {
    display: grid;
    justify-self: left;
    margin: 2%;
    width: 60%;
    border: 0.5px solid variables.$head-light;
    padding: 1%;

    @media only screen and (max-width: 1250px) {
        width: 70%;
    }
}

#searchLabel {
    display: grid;
    justify-self: left;
    margin-left: 3%;
}

#searchButton {
    display: grid;
    justify-self: left;
    margin: 2%;
    margin-bottom: 5%;
    width: 25%;
    background-color: white;
    border: 0.5px solid variables.$head-light;
    color: variables.$head-light;
    font-weight: bold;

    @media only screen and (max-width: 1250px) {
        width: 35%;
    }
}